.body {
    background-color: rgb(0, 217, 255);
    
}

.heading {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-size: 52px;
    text-align: center;
}

p {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

span {
    font-style: italic;
}

.dev-info {
    text-align: right;
}